{% extends "@App/base.html.twig" %}
{% block title %}О фонде{% endblock %}
{% block content %}
<div class="row">
    <h3 align="center">О нас</h3>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <p align="center"><img src="/images/fond.png" class="img-responsive" width="300" height="150" alt="Фонд"></p>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <h4>О фонде</h4>
        <p>Мы хотим, чтобы каждый ребенок в нашей стране мог жить и воспитываться в семье. Мы помогаем семьям, у которых отбирают детей или которые отказались на грани отказа от ребенка, ищем детям-сиротам приемных родителей и поддерживаем их, помогаем ребятам в больницах и детских домах.</p>
        <p> Нашему фонду уже более 10 лет, а начинался он с небольшого движения добровольцев, которые привозили памперсы отказникам в больницы. За это время мы осознали, что помощь должна основываться на знании, а не на эмоциях, что работать надо над причинами, а не только разгребать  последствия. Что только системный подход к оказанию помощи может привести к глобальным переменам. Наша цель – не только помочь детям, но и изменить систему поддержки семьи, ведь именно здесь кроется основная причина социального сиротства </p>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <h4>Направления работы</h4>
        <p>Сегодня у фонда множество проектов по четырем основным направлениям: </p>
        <ul>
            <li>профилактика социального сиротства</li>
            <li>помощь детям в учреждениях</li>
            <li>содействие семейному устройству</li>
            <li>изменение законодательства, общественного мнения и всей системы коллективных учреждений для детей-сирот</li>
        </ul>
    </div>
    <div class="col-md-1">
    </div>
</div>
{% endblock %}