{% extends "@App/base.html.twig" %}
{% block title %}Наши благотворители{% endblock %}
{% block content %}
    {% if contributors %}
        {% for contributor in contributors %}
            <div class="col-md-4">
                <div class="col-md-12" style="min-height: 150px;">
                    <div class="col-md-7">
                        <h4>{{ contributor.name }}</h4>
                    </div>
                    <div class="col-md-5">
                        <img src="/uploads/{{ contributor.image }}" height="100" align="right" alt="{{ contributor.name }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p align="center">
            В настоящее время нет пожертвователей. Но, когда-нибудь они появятся! Заходите.
        </p>
    {% endif %}
{% endblock %}