{% extends "@App/base.html.twig" %}
{% block title %}Наши благотворители{% endblock %}
{% block content %}
    {% for contributor in contributors %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <img src="{{ contributor.imagePath }}" width="120" height="100" align="right" alt="{{ contributor.name }}">
        </div>
        <div class="col-md-9">
            <h2>{{ contributor.name }}</h2>
            <p>{{ contributor.description }}</p>
            <p><a class="btn btn-default" href="#" role="button">Читать полностью &raquo;</a></p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
{% endblock %}