{% extends "@App/base.html.twig" %}
{% block title %}Наши благотворители{% endblock %}
{% block content %}
    {% if contributors %}
        {% for contributor in contributors %}
            <div class="col-md-4">
                <div class="col-md-12" style="min-height: 150px;">
                    <div class="col-md-7">
                        <h3>{{ contributor.name }}</h3>
                        <p>{{ contributor.description }}</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/uploads/{{ contributor.image }}" height="100" align="right" alt="{{ contributor.name }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">Подробнее &raquo;</a></p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p align="center">
            В настоящее время нет пожертвователей. Но, когда-нибудь они появятся! Заходите.
        </p>
    {% endif %}
{% endblock %}