{% extends "@App/base.html.twig" %}
{% block title %}Пожетвования{% endblock %}
{% block content %}
    <div class="row">
        {% for donation in freeDonations %}
        <div class="col-md-4">
            <div class="col-md-12" style="min-height: 150px;">
                <div class="col-md-7">
                    <h3>{{ donation.name }}</h3>
                    <p>{{ donation.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ donation.image }}" width="100" height="100" align="right" alt="{{ donation.name }}">
                </div>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#" role="button">Добавить в список желаний &raquo;</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}