{% extends "@App/base.html.twig" %}
{% block title %}Наши подопечные{% endblock %}
{% block content %}
    {% if wards %}
        {% for ward in wards %}
            <div class="col-md-4">
                <div class="col-md-12" style="min-height: 150px;">
                    <div class="col-md-7">
                        <h4>{{ ward.name }}</h4>
                    </div>
                    <div class="col-md-5">
                        <img src="/uploads/{{ ward.image }}" height="100" align="right" alt="{{ ward.name }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p align="center">
            В настоящее время нет подопечных. Но, когда-нибудь они появятся! Заходите.
        </p>
    {% endif %}
{% endblock %}