<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" style = "padding-left: 10pt">
        <li class="nav-header">Личный кабинет</li>
        <li {% if path(app.request.attributes.get('_route')) == path('cabinet_profile') %}class="active"{% endif %}><a href="{{ path('cabinet_profile') }}">Профиль</a></li>
        <li class="nav-header">Пожертвования</li>
        <li><a href="#">Новое</a></li>
        <li><a href="#">Мои пожертвования</a></li>
    </ul>
</div>