<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" style = "padding-left: 10pt">
        <li class="nav-header">Личный кабинет</li>
        <li {% if path(app.request.attributes.get('_route')) == path('cabinet_profile') %}class="active"{% endif %}><a href="{{ path('cabinet_profile') }}">Профиль</a></li>
        <li class="nav-header">Пожертвования</li>
        <li {% if path(app.request.attributes.get('_route')) == path('new_donation') %}class="active"{% endif %}><a href="{{ path('new_donation') }}">Новое</a></li>
        <li {% if path(app.request.attributes.get('_route')) == path('contributor_donations') %}class="active"{% endif %}><a href="{{ path('contributor_donations') }}">Мои пожертвования</a></li>

        {% if path(app.request.attributes.get('_route')) == path('contributor_edit_donation') %}
            <li class="active"><a href="">Редактировать пожертвование</a></li>
        {% endif %}
    </ul>
</div>